

header {
    display: flex;

  }
  
  .btn0{
    padding: 5px 10px;
    border-radius: 7px;
  }

  .both{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }
  
  .head2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

.head2yazilar {
  display: flex;
  align-items: flex-end;
  gap: 1cm;
  justify-content: flex-end;
}
  .head25{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    font-style:oblique;
    font-size: 19px;
  }

  .blackheader{
    background-color: rgb(27, 24, 24);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1cm;
    margin-top: 80px;
  }
.btn1 {
    margin: 20px;
    padding: 20px 35px;
    border-radius: 7px;
}

.card , .gizli-card {
    color: aliceblue;
    text-align: left;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    }

.text {
  color: rgb(255, 255, 255);
  width: fit-content;
  text-align: center;
  justify-content: center;
  width: 300px;
}

.more-btn {
  padding: 20px 40px;
  background-color: #e9e7e7;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 26px;
  transition: background-color 0.3s ease;
  display: block;
}

.more-btn:hover {
  background-color: #000000;
  color: #e9e7e7;
}

.hidden {
  display: none;
}

.gizli-card {
  display: none;
}

.basliq{
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
}

.yazi-cardlar {
  display: grid;
  color: rgb(0, 0, 0);
    text-align: left;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f02727;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.mySlides {
  display: none;
}

.mySlides:first-child {
  display: block; 
}



